table th {
    background: #bbdeff;
    text-align: start;
    justify-content: start;
    top: 0;
    position: sticky;
    white-space: nowrap;
    padding: 0 5px;
    font-weight: bold;
    color: rgb(12, 11, 11);
}

table td {
    justify-content: start;
    text-align: start;
    white-space: wrap;
    padding: 0 5px;
}

.table-home {
    display: block;
    height: 50vh;
    overflow: auto;
    width: 100%;
}

.table-home:hover {
    overflow-y: scroll
}

.table:hover {
    cursor: pointer;
}


