th {
    background: #bbdeff;
}

table th {
    cursor: pointer;
    text-align: center;
    top: 0;
    position: sticky;
    padding-left: 1%;
    padding-right: 1%;
}

.table-home td {
    width: 20%;
    word-break: break-word;
    padding-left: 1%;
    padding-right: 1%;
    cursor: pointer;
}

.table-home {
    display: block;
    width: 100%;
    overflow: auto;
    height: 30vh;
}

.table:hover {
    cursor: pointer;
}

h2 {
    height: 10vh;
    text-align: center;
}

.align {
    display: flex;
    align-items: center;
}

mat-label {
    font-weight: bolder;
    color: black;
}