<div style="width: auto; height: 90vh">

    <div fxLayoutAlign="end end" style="margin-bottom: 1%;">
        <button mat-flat-button color="warn" mat-dialog-close>X</button>
    </div>
    
    <div fxLayoutAlign="center center">
        <h1> Relación Nivel de Riesgo a Usuario</h1>
    </div>
    <hr>

    <div style="width: 100%;"  fxLayoutAlign="center space-between">

         <mat-card style="width: 100%; height: 100%; background: #e1e6eb; margin: 1%;" >

            <div fxLayoutAlign="center center">
                <h1>Niveles de Riesgo</h1>
            </div>
            <hr>

            <div fxLayoutAlign="center center" >
                <mat-form-field appearance="legacy" fxLayoutAlign="center center">
                    <mat-label>
                        Buscar
                    </mat-label>
                    <input matInput placeholder="Ingrese Dato" (keyup)="applyFilterRiskLevel($event)" #input>
                    <mat-icon matSuffix style="color: #1da1f2">search</mat-icon>
                </mat-form-field>
            </div>

            <div fxLayoutAlign="center center">
    
                <div class="table mat-elevation-z8"  style="width: auto;">

                    <mat-table [dataSource]="dataSourceRiskLevel"  matSort class="table-home">
      
                        <ng-container matColumnDef="level">
                          <mat-header-cell *matHeaderCellDef > Nivel de Riesgo </mat-header-cell>
                          <mat-cell *matCellDef="let element"> {{element.level}} </mat-cell>
                        </ng-container>
                      
                        <ng-container matColumnDef="description">
                          <mat-header-cell *matHeaderCellDef> Descripción </mat-header-cell>
                          <mat-cell *matCellDef="let element"> {{element.description}} </mat-cell>
                        </ng-container>

                        <ng-container matColumnDef="checkbox">
                            <mat-header-cell *matHeaderCellDef mat-sort-header> Vincular </mat-header-cell>
                            <mat-cell *matCellDef="let element"> {{element.checkbox}} <mat-checkbox
                                class="example-margin"
                                [(ngModel)]="checked"
                                [(indeterminate)]="indeterminate"
                                [labelPosition]="labelPosition"
                                [disabled]="disabled">
                            </mat-checkbox> </mat-cell>
                          </ng-container>
                      
                        <mat-header-row *matHeaderRowDef="displayedColumnsRiskLevel"></mat-header-row>
                        <mat-row *matRowDef="let row; columns: displayedColumnsRiskLevel;"></mat-row>
                      </mat-table>

                    <!-- <table mat-table [dataSource]="dataSourceRiskLevel" matSort class="table-home">
                        <tr>
                            <th>Nivel de Riesgo</th>
                            <th>Descripción</th>
                        </tr>
                        <tr>
                            <td style="background: rgb(10, 158, 77);">Aceptable</td>
                            <td>No se requiere ninguna acción.</td>
                        </tr>
                        <tr>
                            <td style="background: yellow">Bajo</td>
                            <td>Menores efectos que pueden ser fácilmente remediados. Se administra con procedimientos rutinarios</td>
                        </tr>
                        <tr>
                            <td style="background: orange">Moderado</td>
                            <td>Debe ser administrado con procedimientos normales de control</td>
                        </tr>
                        <tr>
                            <td style="background: rgb(175, 52, 52)">Alto</td>
                            <td>Se requiere atención de la Alta Dirección. Planes de tratamiento requeridos, implementados y reportados a los jefes de las oficinas, direcciones, entre otros.</td>
                        </tr>
                        <tr>
                            <td style="background: red">Muy Alto</td>
                            <td>Se requiere acción inmediata. Planes de tratamiento requeridos, implementados y reportados a la Alta Dirección. </td>
                        </tr>
                    </table> -->
    
                </div>

            </div>
    
            <mat-paginator fxLayoutAlign="center center" style="background: #e1e6eb; color: black;  font-weight: bold;" [pageSizeOptions]="[8, 10, 15, 20]"></mat-paginator>
    
        </mat-card> 

    <mat-card style="width: 40vw; background: #e1e6eb; margin: 1%;" >

        <div fxLayoutAlign="center center">
            <h1>Usuarios</h1>
        </div>
        <hr>

        <div fxLayoutAlign="center center" >
            <mat-form-field appearance="legacy" fxLayoutAlign="center center">
                <mat-label>
                    Buscar
                </mat-label>
                <input matInput placeholder="Ingrese Dato" (keyup)="applyFilterUser($event)" #input>
                <mat-icon matSuffix style="color: #1da1f2">search</mat-icon>
            </mat-form-field>
        </div>

        <div fxLayoutAlign="center center">
            <div class="table mat-elevation-z8">

                <table mat-table [dataSource]="dataSourceUsers" matSort class="table-home">

                    <ng-container matColumnDef="nombre">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Nombre </th>
                        <td mat-cell *matCellDef="let row" > {{row.name}} </td>
                    </ng-container>

                    <ng-container matColumnDef="apellido">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Apellido </th>
                        <td mat-cell *matCellDef="let row" > {{row.last_name}} </td>
                    </ng-container>

                    <ng-container matColumnDef="correoelectronico">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Correo electrónico </th>
                        <td mat-cell *matCellDef="let row" > {{row.email}} </td>
                    </ng-container>

                    <ng-container matColumnDef="numeroContacto">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Número de contacto </th>
                        <td mat-cell *matCellDef="let row" > {{row.phone_number}} </td>
                    </ng-container>

                    <ng-container matColumnDef="numeroEmpleado">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Número de empleado </th>
                        <td mat-cell *matCellDef="let row" > {{row.employee_number}} </td>
                    </ng-container>

                    <ng-container matColumnDef="posicion">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Posición </th>
                        <td mat-cell *matCellDef="let row" > Job Role Pending </td>
                    </ng-container>

                    <ng-container matColumnDef="checkbox">
                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Vincular </th>
                        <td mat-cell *matCellDef="let row" >  <mat-checkbox
                            class="example-margin"
                            [(ngModel)]="checked"
                            [(indeterminate)]="indeterminate"
                            [labelPosition]="labelPosition"
                            [disabled]="disabled">
                        </mat-checkbox>
                           </td>
                    </ng-container>

                   
                    <tr mat-header-row *matHeaderRowDef="displayedColumnsUsers"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumnsUsers;"></tr>


                    <tr class="mat-row" *matNoDataRow>
                        <td class="mat-cell" colspan="4">No se encontró información de "{{input.value}}"</td>
                    </tr>
                </table>

            </div>
        </div>

        <mat-paginator fxLayoutAlign="center center" style="background: #e1e6eb; color: black;  font-weight: bold;" [pageSizeOptions]="[8, 10, 15, 20]"></mat-paginator>


    </mat-card>

    </div>

    <div fxLayoutAlign="end end">
        <button mat-raised-button style=" background: #00acee; margin: 2%;" >Vincular</button>
    </div>
</div>

