<mat-tab-group animationDuration="0ms" mat-align-tabs="center" style="width: 100%; height: auto;">

    <mat-tab label="Tiempo Real">

        <mat-card fxLayoutAlign="right right" style="margin: 1%;">

            <div style="width: auto; height: 100%; margin: 1%;">

                <h1 fxLayoutAlign="center center">Incidencias En Tiempo Real</h1>
                <hr>

                <div>
                    <mat-card style="width: 100%; height: 100%; background: #e1e6eb;">

                        <div fxLayoutAlign="space-around">
                            <mat-form-field appearance="legacy" fxLayoutAlign="center center">
                                <mat-label>
                                    Buscar
                                </mat-label>
                                <input matInput placeholder="Ingrese Dato" (keyup)="applyFilter($event)" #input>
                                <mat-icon matSuffix style="color: #1da1f2">search</mat-icon>
                            </mat-form-field>
                        </div>

                        <div fxLayoutAlign="center center">
                            <div class="table mat-elevation-z8">

                                <table mat-table [dataSource]="dataSourceAnalitycsEvents" matSort class="table-home">

                                    <ng-container matColumnDef="videoAnalitico">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Vídeo Analítico </th>
                                        <td mat-cell *matCellDef="let row" (click)="openDialogIncidents(row.site,row.ip)"> {{row.event}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="planta">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Planta </th>
                                        <td mat-cell *matCellDef="let row" (click)="openDialogIncidents(row.site,row.ip)"> {{row.site}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="camera">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Cámara </th>
                                        <td mat-cell *matCellDef="let row" (click)="openDialogIncidents(row.site,row.ip)"> {{row.camera}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="ip">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> IP </th>
                                        <td mat-cell *matCellDef="let row" (click)="openDialogIncidents(row.site,row.ip)"> {{row.ip}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="perimetro">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Perímetro </th>
                                        <td mat-cell *matCellDef="let row" (click)="openDialogIncidents(row.site,row.ip)">  {{row.scene}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="protocol">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Protocolo de Acción </th>
                                        <td mat-cell *matCellDef="let row" (click)="openDialogIncidents(row.site,row.ip)"> {{row.protocol}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="fechaRecibido">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de Recibido </th>
                                        <td mat-cell *matCellDef="let row" (click)="openDialogIncidents(row.site,row.ip)"> {{row.created_at}} </td>
                                    </ng-container>

                                    <ng-container matColumnDef="fechaResolucion">
                                        <th mat-header-cell *matHeaderCellDef mat-sort-header> Fecha de Resolución </th>
                                        <td mat-cell *matCellDef="let row" (click)="openDialogIncidents(row.site,row.ip)"> {{row.updated_at}} </td>
                                    </ng-container>

                                    <tr mat-header-row *matHeaderRowDef="displayedColumns1"></tr>
                                    <tr mat-row *matRowDef="let row; columns: displayedColumns1;"></tr>

                                    <tr class="mat-row" *matNoDataRow>
                                        <td class="mat-cell" colspan="4">No se encontró información de "{{input.value}}"</td>
                                    </tr>
                                </table>

                            </div>
                        </div>

                        <mat-paginator fxLayoutAlign="center center" style="background: #e1e6eb; color: black;  font-weight: bold;" [pageSizeOptions]="[6, 10, 20, 100]"></mat-paginator>
                    </mat-card>
                </div>
            </div>

            <div style="width: 70%; height: 50%; margin: 1%;">

                <h1 fxLayoutAlign="center center">Plantas</h1>
                <hr>

                <mat-card style="background: #e1e6eb; height: auto;">
                    <mat-grid-list cols="2" rowHeight="2:1">
                        <mat-grid-tile *ngFor="let card of cctvSiteDetails">
                            <mat-card class="card" (click)="openDialogIncidentsDetails(card.site)">
                                <mat-card-header fxLayoutAlign="center center">
                                    <h2>{{card.site}}</h2>
                                </mat-card-header>
                                <mat-card-content style="width: 15vw;">
                                    <p>
                                        <span matBadge="4" matBadgeOverlap="false">Número de Incidencias:</span>
                                    </p>
                                </mat-card-content>
                            </mat-card>
                        </mat-grid-tile>
                    </mat-grid-list>
                    <div>
                        <mat-paginator style="color: black;  font-weight: bold;" fxLayoutAlign="center center" [pageSizeOptions]="[6, 10, 25, 100]"></mat-paginator>
                    </div>
                </mat-card>

            </div>
        </mat-card>

    </mat-tab>
</mat-tab-group>